{% extends "base.html" %}

{% block main %}
<section>


<div class="page-header">
	<h1>Biblioteka <small>lista gier znajdujących się w systemie</small></h1>
</div>

<div class="span16 columns">

</div>

</section>

<script>
$.getJSON("/json/boardgames_list/", function(data) {
	//var items = [];
	//$.each(data, function() {
	//	items.push('<tr>'
	//		+ '<td><a href=\"/boardgame/' + this.fields.meta + '/\">' + this.fields.meta + '</a></td>'
	//		+ '<td><a href=\"/user/' + this.fields.owner + '/\">' + this.fields.owner + '</a></td>'
	//		+ '<td><a href=\"/user/' + this.fields.patron + '/\">' + this.fields.patron + '</a></td>'
	//		+ '<td><a href=\"/user/' + this.fields.holder + '/\">' + this.fields.holder + '</a></td>'
	//		+ '</tr>');
	//});
	//$('#result').append('<table class=\"zebra-striped\"><tbody><tr><th>Nazwa gry</th><th>Właściciel</th><th>Opiekun</th><th>Posiadający</th></tr>' + items + '</tbody></table>');
	$('.span16').append(boardgamesJsonToTable(data));
});
</script>

{% endblock %}
