{% extends "base.html" %}

{% block main %}
<section>


<div class="page-header">
	<h1>Biblioteka <small>lista gier znajdujących się w systemie</small></h1>
</div>

<div class="span16 columns">
<table class="zebra-striped">
<tbody>
<tr>
	<th>Nazwa gry</th>
	<th>Właściciel</th>
	<th>Opiekun</th>
	<th>Posiadający</th>
</tr>
{% for b in object_list %}
<!-- <tr class="{% if forloop.counter|divisibleby:2 %}row-b{% else %}row-a{% endif %}"> -->
<tr>
	<td><a href="/boardgame/{{ b.id }}/">{{ b.meta.title }}</a></td>
	<td><a href="/user/{{ b.owner.username }}/">{{ b.owner }}</a></td>
	<td><a href="/user/{{ b.patron.username }}/">{{ b.patron }}</a></td>
	<td><a href="/user/{{ b.holder.username }}/">{{ b.holder }}</a></td>
</tr>
{% endfor %}
</tbody>
</table>
{% if has_previous %}
	<div style="text-align:center;"><a href="/?page={{ previous }}"><b>poprzednie</b></a></div>
{% endif %}
{% if has_next %}
	<div style="text-align:center;"><a href="/?page={{ next }}"><b>następne</b></a></div>
{% endif %}
</div>

</section>
{% endblock %}
