{% extends "base.html" %}

{% block main %}

<section>
<div class="page-header">
	<h1>{{b.meta.title}}</h1>
</div>


<div class="row">

<div class="span10 columns">
<h2 onclick="mouseClick('information')" style="cursor: pointer;">O grze</h2>
<p id="information" style="display:none;">Link do BGG: <a href="{{ b.meta.bgg_link}}">{{b.meta.bgg_link}}</a><br/>
Liczba graczy: {{b.meta.min_players}}-{{b.meta.max_players}}<br/>
Czas gry: {{b.meta.min_time}}-{{b.meta.max_time}} min<br/>
Zalecany minimalny wiek graczy: {{b.meta.min_age}} lat(a)</p>

<script type="text/javascript">
function valid(menu,txt) {
  if((menu.selectedIndex == 0) || (menu.selectedIndex == undefined)) {
    alert('Wybierz z listy gracza pożyczającego.');
    return false;
  } 
  if(txt.value == '') {
      alert('Wpisz krótki komentarz.');
      return false;
  } else {
      return true;
  }
}
</script>
<script>
var arrValues = [ {% for user in users %} "{{user.username}}", {%endfor%}]; 
</script>
</div>


{% if user.is_authenticated %}
<div class="span6 columns">
<h2>Stan gry</h2>
<table><tbody>
<tr><th class="first">Właściciel</th><th>Opiekun</th><th>Posiada</th></tr>
<tr class="row-a">
	<td class="first"><b><a href="/user/{{ b.owner.username }}/">{{b.owner}}</a></b></td>
	<td><b><a href="/user/{{ b.patron.username }}/">{{b.patron}}</a></b></td>
	<td><b><a href="/user/{{ b.holder.username }}/">{{b.holder}}</a></b></td>
</tr></tbody></table>
</div>
</div>


<div class="row">
<div class="span16 columns">
<h3 onclick="mouseClick('transferForm')" style="cursor: pointer;">Przekaż grę</h3>
<form id="transferForm" action="/boardgame/transfer/" method="post" style="display:none;" onsubmit="return valid(this.holder_id,this.desc)">{% csrf_token %}
	{{transfer_form.boardgame_id}}
	<p>Nowy {{transfer_form.transfer_type}} : {{transfer_form.person_new_username}}</p>
	<p>Powód zmiany: {{transfer_form.desc }}</p>
	<input type="submit" value="Przekaż">
</form>
</div>
</div>



<div class="row">
<div class="span16 columns">
<h3 onclick="mouseClick('transferHistory')" style="cursor: pointer;">Historia</h3>
<p id="transferHistory" style="display:none;">
{% for t in transfers %}
	{{t.date}} : {{t.changer}} zmienił(a) '{{t.type}}': <a href="/user/{{t.person_old.username}}">{{t.person_old.username}}</a> -> <a href="/user/{{t.person_new.username}}">{{t.person_new.username}}</a> ("{{t.desc}}")<br/>
{% endfor %}

{% endif %}
</p>
</div>
</div>

</section>

{% endblock %}
