{% extends "base.html" %}

{% block main %}

<script>
$(document).ready(function() {
$.getJSON("/json/boardgames_list/", function(data) {
	var items = [];
	$.each(data, function() {
		items.push('<li>' + this.fields.owner + '</li>');
	});

	$('<ul/>', {
		'class': 'my-new-list',
		html: items.join('')
	}).appendTo('#result');
});
});
</script>

<section id="mainsection">
<div class="page-header">
	<h1>Poligon <small>testujący nowe funkcjonalności</small></h1>
</div>

<div class="row">
	<div class="span16 columns">
		<h2>AJAX i JSON</h2>
		<p id="result"></p>
	</div>
</div>

<script>
	$('#result').append('<p>Testowe dodanie.</p>');
</script>


</section>
{% endblock %}
