{% extends "base.html" %}

{% block main %}
<section>

<div class="page-header">
	<h1>{{ vieweduser.username }}</h1>
</div>

<div class="span16 columns">
<p>Email: {{ vieweduser.email }}</br></p>

{% if user.is_authenticated %}
{% if owner_of %}
        <h2>Jest właścicielem:</h2>
	<table>
	<tbody>
	<tr>
	        <th class="firsts">Nazwa gry</th>
		        <th>Właściciel</th>
		        <th>Opiekun</th>
		        <th>Posiadający</th>
		</tr>
		{% for b in owner_of %}
		<tr class="{% if forloop.counter|divisibleby:2 %}row-b{% else %}row-a{% endif %}">
		        <td><a href="/boardgame/{{ b.id }}/">{{ b.meta.title }}</a></td>
		        <td><a href="/user/{{ b.owner.username }}/">{{ b.owner }}</a></td>
		        <td><a href="/user/{{ b.patron.username }}/">{{ b.patron }}</a></td>
		        <td><a href="/user/{{ b.holder.username }}/">{{ b.holder }}</a></td>
		</tr>
		{% endfor %}
	</tbody>
	</table>
{% endif %}
{% endif %}

{% if patron_of %}
	<h2>Opiekuje się:</h2>
	<table>
	<tbody>
		<tr>
        		<th class="firsts">Nazwa gry</th>
		        <th>Właściciel</th>
		        <th>Opiekun</th>
		        <th>Posiadający</th>
		</tr>
		{% for b in patron_of %}
		<tr class="{% if forloop.counter|divisibleby:2 %}row-b{% else %}row-a{% endif %}">
		        <td><a href="/boardgame/{{ b.id }}/">{{ b.meta.title }}</a></td>
		        <td><a href="/user/{{ b.owner.username }}/">{{ b.owner }}</a></td>
		        <td><a href="/user/{{ b.patron.username }}/">{{ b.patron }}</a></td>
		        <td><a href="/user/{{ b.holder.username }}/">{{ b.holder }}</a></td>
		</tr>
		{% endfor %}
	</tbody>
	</table>
{% endif %}

{% if holder_of %}
	<h2>Posiada:</h2>
	<table>
	<tbody>
		<tr>
		        <th class="firsts">Nazwa gry</th>
		        <th>Właściciel</th>
		        <th>Opiekun</th>
		        <th>Posiadający</th>
		</tr>
		{% for b in holder_of %}
		<tr class="{% if forloop.counter|divisibleby:2 %}row-b{% else %}row-a{% endif %}">
		        <td><a href="/boardgame/{{ b.id }}/">{{ b.meta.title }}</a></td>
		        <td><a href="/user/{{ b.owner.username }}/">{{ b.owner }}</a></td>
		        <td><a href="/user/{{ b.patron.username }}/">{{ b.patron }}</a></td>
		        <td><a href="/user/{{ b.holder.username }}/">{{ b.holder }}</a></td>
		</tr>
		{% endfor %}
	</tbody>
	</table>
{% endif %}
</div>

</section>
{% endblock %}
