{% extends "base.html" %}

{% block main %}

	<h2>Logowanie do aplikacji</h2>

	{% if form.errors %}
		<p class="error">Sorry, that's not a valid username or password</p>
	{% endif %}

	<form action="" method="post">{% csrf_token %}
		<label for="username">Nazwa użytkownika:</label>
		<input type="text" name="username" value="" id="username">
		<label for="password">Hasło:</label>
		<input type="password" name="password" value="" id="password">

		<input type="submit" value="login" />
		<input type="hidden" name="next" value="{{ next|escape }}" />
	</form>

{% endblock %}
